<!-- NAVBAR
		================================================== -->
	    <nav class="navbar navbar-inverse navbar-static-top" id="mainnav">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand"><span class="fa fa-eye"></span> VisualizeIt</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right pull-right main-nav">
	            <li><a href="/logout"><span class="cd-signup">Sign Out</span></a></li>
	          </ul>
	        </div>
	      </div>
	    </nav>

<!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container">
<h1 class="text-center">Hello {{{user.fullName}}}</h1>
{{#if user.todoItems}}
<h3 class="text-center">You have {{{numberNotDone user.todoItems}}} items to do.</h3>
<br>
<div class="row">
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
<table class="table table-hover table-responsive">
  <thead>
    <tr><th>Item</th><th>Date</th><th>Priority</th><th>Done</th></tr>
  </thead>
  <tbody>
  	{{#each user.todoItems}}
  		<tr>
  			<td>{{{this.task}}}</td>
  			<td>{{{formatDate this.dueDate}}}</td>
  			<td>{{{this.priority}}}</td>
  			<td><input class="done" type="checkbox" name="done" id={{{this._id}}} {{#if this.done}}checked{{/if}}></td>
  		</tr>
  	{{/each}}
  </tbody>
</table>
{{else}}
	<h3>Add a task to your ToDo list.</h3>
{{/if}}
<hr>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
<form action="/api/todo/{{{user._id}}}" method="post">
<div class="form-group">
<label>Task:</label>
<input type="text" class="form-control" name="task" placeholder="Breakfast at Tiffany's">
</div>
<div class="form-group">
<label>Due Date:</label>
<input type="date" class="form-control" name="dueDate">
</div>
<div class="form-group">
<label>Priority:</label>
<select name="priority" class="form-control">
	<option>Low</option>
	<option>Medium</option>
	<option>High</option>
</select>
</div>
<br>
<button type="submit" class="btn btn-primary">New Item</button> 
</form>
</div>
</div>
</div><!-- /.container -->
